<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Users </h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/brand/favicon.png">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Rachid dati</span>
                    </div>
                  </div>
                </th>
                <td>
                  13/02/1992
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> blocked
                  </span>
                </td>
          
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                      <a class="dropdown-item" href="javascript:void(0)">Block </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/brand/favicon.png">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Aziz mada</span>
                    </div>
                  </div>
                </th>
                <td>
                  01/01/1991
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> Connected
                  </span>
                </td>
               
                <td class="text-right">
                  <div ngbDropdown  placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                     <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                      <a class="dropdown-item" href="javascript:void(0)">Block </a>
                    </div>
                  </div>
                </td>
              </tr>
           
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
     
        </div>
      </div>
    </div>
   
  </div>
</div>
